
.navbar-container {
    text-transform: uppercase;
    background-color: #ffffff;
}
.navbar {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-direction: row;
    background-color: rgb(12, 41, 168);

}
.logo{
    font-size: 25px;
    font-style: italic;
    color: #ebf3f0;
}

