* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: black;
}
html {
  font-size: 62.5%;
  scrollbar-width: thin;
  scrollbar-color: #000 white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  font-size: 4rem;
  font-family: 'Alfa Slab One', cursive;
  font-weight: lighter;
  color:white;
}
h3 {
  font-size: 1.3rem;
  color: #333;
  padding: 1.5rem 0rem;
  color: red;
}
p {
  font-size: 1.5rem;
  line-height: 200%;
  color: red;
}
a {
  text-decoration: none;
  color: white;
}
